
.nav2{
    height: 25px;
    background: #f1f1f1;
  }
  .supna{
    list-style-type: none;
    background: #f1f1f1;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  }
  .item{
   margin-right: 10px; 
   color:rgb(28, 28, 105);
   
  }